@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>杭州陆吾科技信息咨询有限公司</title>
    <link rel="stylesheet" href="~/Police/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Police/owl.theme.css" />
    <link rel="stylesheet" href="~/Police/owl.carousel.css" />
    <link rel="stylesheet" href="~/Police/jquery.vegas.min.css" />
    <link rel="stylesheet" href="~/Police/styles.css" />
    <link rel="stylesheet" href="~/Police/animate.min.css" />
    <link rel="stylesheet" href="~/Police/styles(1).css" />
    <link rel="stylesheet" href="~/Police/pixeden-icons.css" />
    <link rel="stylesheet" href="~/Police/responsive.css" />

    <script type="text/javascript" async="" src="~/Police/analytics.js"></script>
    <script async="" src="~/Police/gtm.js"></script>
    <script src="~/Police/jquery.min.js"></script>

    <script src="~/Police/bootstrap.min.js"></script>
    <script src="~/Police/wow.min.js"></script>
    <script src="~/Police/jquery.nav.js"></script>
    <script src="~/Police/jquery.knob.js"></script>
    <script src="~/Police/owl.carousel.min.js"></script>
    <script src="~/Police/smoothscroll.js"></script>
    <script src="~/Police/jquery.vegas.min.js"></script>
    <script src="~/Police/firsttwo.js"></script>
</head>
<body>
    <img class="vegas-background" src="~/Police/bg1.jpg" style="position: fixed; left: 0px; top: -7px; width: 100%; height: 100%; bottom: auto; right: auto;" />
    <header id="home" class="header">
        <div id="main-nav" class="navbar navbar-inverse bs-docs-nav fixed" role="banner">
            <div class="container">
                <div class="navbar-header  responsive-logo">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                        <a href="/Home/Index"><img src="~/Content/loowootech-3.png"></a>
                    </div>
                </div>
                <nav class="navbar-collapse collapse" role="navigation" id="bs-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right responsive-nav main-nav-list">
                        <li class="current"><a id="navbar-nav-list-home" href="/Home/Index3">首页</a></li>
                        <li><a id="navbar-nav-list-signup" style="padding: 0px 5px 0px 5px;" class="btn signup-button" href="/Home/Login3">登录</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="container">
            <h1 class="intro">杭州陆吾科技信息咨询有限公司</h1>
            <br>
            <h5 class="subintro">
                杭州陆吾科技信息咨询有限公司是一家致力于GIS软件研发、遥感软件研发、地理信息技术服务的充满朝气的科技企业，与2011年成立于浙江省杭州市。公司由来自于中国科学院和浙江大学等国内顶级研究机构及知名高校的博士和硕士创立，拥有经验丰富的管理人员、高级技术研发及服务人员。公司本着“专业专注、学习创新、诚信务实、持续发展、优质服务”的宗旨，通过对技术、业务、服务等方面的不断完善俞客户良好的沟通，使得公司在客户当中拥有良好的口碑!
            </h5>
            @*<div class="buttons inpage-scroll">
                <a href="https://www.firsttwo.com/?#products" class="btn btn-primary custom-button red-btn">Our Product</a>
                <a href="https://www.firsttwo.com/pricing.html#pricingmain" class="btn btn-primary custom-button green-btn">Pricing</a>
                <a id="button-action-signupfree" href="https://www.firsttwo.com/newuser" class="btn btn-primary custom-button blue-btn">Sign Up Free</a>
            </div>*@
        </div> 
    </header>
    @RenderBody();
    <section class="news" id="newsbody">
        <div class="container">
            <div class="section-header">
                <h2 class="dark-text"></h2>
                <div class="row wow fadeInRight animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
                    <div class="col-md-12">
                        <div id="client-news" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper" style="width: 2280px; left: 0px; display: block;">
                                    <div class="owl-item" style="width: 1140px;">
                                        <div class="feedback-box">
                                            <div class="newstitle">
                                                联系电话：0571-88831015；
                                            </div>
                                            <br>
                                            <div class="newstitle-middleimage">
                                                联系邮箱：loowootech@loowootech.com ;
                                            </div>
                                            <br>
                                            <div class="newstitle-bottomimage">
                                                联系地址：浙江省杭州市下城区中山北路632号越都商务大厦2101室；
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-controls clickable" style="display: none;">
                                <div class="owl-pagination">
                                    <div class="owl-page active">
                                        <span class=""></span>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <span>杭州陆吾科技信息咨询有限公司</span>
                <span>地址：杭州市下城区中山北路632号越都商务大厦2101室；</span>
                <span>联系电话：0571-88831015</span>
            </div>
            <div class="social">
                2016 LoowooTech  <a href="http://www.miitbeian.gov.cn/" target="_blank">浙ICP备16039192号</a>
            </div>
        </div>
    </footer>
</body>
</html>
