@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "关于";
}


@section div{
    
    <div class="container text-center">
    <h1>LoowooTech</h1>
    <h2>杭州陆吾科技信息咨询有限公司-用心制作的科技公司</h2>
    <h5>联系电话：0571-88831015 ;</h5>
    <h5>联系邮箱：loowootech@loowootech.com ;</h5>
    <h5>联系地址：浙江省杭州市下城区中山北路632号越都商务大厦2101室；</h5>

    <br><br><br><br>
</div>
    }


