@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "产品";
}
@section div{
    
<div class="container text-center">
    <div class="row">
        <br /><br /><br />
        <br /><br />
        
        <br />
       <div class="col-md-12 col-xs-12 col-sm-12">
           <h3>陆吾移动地理信息一张图 <button type="button" class="btn btn-primary " style="float:right">更新</button></h3>
       </div>
        <div class="col-md-6 col-xs-6 col-sm-6" >
            <img src="~/Content/GIS1.jpg" />
            @*<div style="position:absolute;z-index:2;left:10px;top:10px;">
                <br />
                <br />
                <div class="col-md-offset-10 col-md-2">
                    <button type="button" class="btn btn-primary">下载</button>
                </div>
                
            </div>*@
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6">
            <img src="~/Content/GIS2.jpg" />
        </div>
    </div>
</div>
    }

