@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "首页";
}

@section div{
<div class="container text-center">
    <h1>LoowooTech</h1>
    <h2>杭州陆吾科技信息咨询有限公司-用心制作的科技公司</h2>
    <h5>杭州陆吾科技信息咨询有限公司是一家致力于GIS软件研发、遥感软件研发、地理信息技术服务的充满朝气的科技企业，与2011年成立于浙江省杭州市。公司由来自于中国科学院和浙江大学等国内顶级研究机构及知名高校的博士和硕士创立，拥有经验丰富的管理人员、高级技术研发及服务人员。公司本着“专业专注、学习创新、诚信务实、持续发展、优质服务”的宗旨，通过对技术、业务、服务等方面的不断完善俞客户良好的沟通，使得公司在客户当中拥有良好的口碑!</h5>
    <br><br><br><br>
    <p><a role="button" href="/Home/Case" class="btn btn-danger btn-outline btn-lg"> 了解更多</a></p>
</div>



    }


