@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<section class="products" data-type="background" data-speed="1" id="products" style="background-position:50% 0px;">
    <div class="color-overlay">
        <div class="container">
            <h2 class="white-text">陆吾移动地理信息一张图平台</h2>
            <h6 class="white-text"></h6>
            <br>

            <div class="col-md-6">
                <div class="screenshot-container">
                    <img src="~/Content/iPad1-2.png">
                </div>
            </div>
            <div class="col-md-2"></div>

            <div class="col-md-4">
                <div class="package wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
                    <div class="price dark-bg">
                        <div class="price-container">
                            <h4>陆吾科技</h4>
                            <span class="price-meta"></span>
                        </div>
                    </div>
                    <ul>
                        <li><i class="icon-check"></i>众多国土数据随身携带，随时浏览</li>
                        <li><i class="icon-check"></i>通过内置GPS随时定位您的位置及周边的用地，项目情况</li>
                        <li><i class="icon-check"></i>各类信息方便查询、统计</li>
                        <li><i class="icon-check"></i>自由回执地块，得到用地分析结果，随时随地用地决策支持</li>
                        <li><i class="icon-check"></i>通过拍照，文字记录方便实地调查工作</li>
                        <li><i class="icon-check"></i>自有知识产权的移动平台，性能优异，安全性好</li>
                        @*<li><i class="icon-check"></i><a href="https://www.firsttwo.com/pricing.html#pricingmain">Simple agency pricing</a></li>*@
                    </ul>
                    <a href="https://www.firsttwo.com/newuser" class="btn btn-primary custom-button blue-btn">更新</a>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</section>
