@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section div{
    <div class="container">
    <form class="form-horizontal" method="post" action="">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group">
                    <label class="control-label col-md-3">用户名:</label>
                    <div class="col-md-7">
                        <input type="text" name="Name" class="form-control" placeholder="用户名" />
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <label class="control-label col-md-3">密码：</label>
                    <div class="col-md-7">
                        <input type="password" name="Password" class="form-control" placeholder="密码" />
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <div class="col-md-7 col-md-offset-3">
                        <button type="submit" class="btn btn-primary">登录</button>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>
    
    }


