@{
    ViewBag.Title = "注册";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center">欢迎您注册杭州陆吾科技信息咨询有限公司用户</h3>
<form class="" method="post" action="">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-md-3">用户名：</label>
                <div class="col-md-8">

                </div>
            </div>
        </div>
    </div>
</form>
